footer{
    padding: 0 11vw;
    box-sizing: border-box;

    @media @1100{
        padding: 0 50px;
    }

    @media @750{
        padding: 0 20px;
    }
    
    .footer_content{
        border-top: 1px solid @color1;
        padding-top: 5vw;
        padding-bottom: 1.4vw;
        box-sizing: border-box;

        @media @750{
            padding-bottom: 20px;
            padding-top: 50px;
        }

        .first_footer_section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vw;

            @media @750{
                margin-bottom: 50px;
            }

            .left{

                @media @750{
                    width: 60%;
                }

                h3{
                    .small_headline();
                    margin-bottom: 1vw;                 
                }

                p{
                    .text();
                    font-size: 1.1vw;
                }
            }

            .right{
                
                .button_holder{
                    position: relative;
                    cursor: pointer;
                    display: block;

                    @media @750{
                        right: 20px;
                    }

                    .marquee{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 9vw;
                        z-index: 1;
                        height: 9vw;
                        // animation: rotation 10s infinite linear;

                        @media @1020{
                            width: 120px;
                            height: 120px;
                        }

                        @media @750{
                            width: 100px;
                            height: 100px;
                        }
                    }

                    .arrow{
                        width: 3.2vw;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        z-index: 3;

                        @media @1020{
                            width: 40px;
                        }
                        
                        @media @750{
                            width: 30px;
                        }
                    }

                    a{
                        display: block;
                        position: relative;
                        z-index: 2;
                        background-color: @color1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 7vw;
                        height: 7vw;
                        border-radius: 100%;

                        @media @1020{
                            width: 90px;
                            height: 90px;
                        }

                        @media @750{
                            width: 70px;
                            height: 70px;
                        }
                        // animation: reverseRotation 10s infinite paused;

                    }

                    &:hover{

                        // a{
                        //     animation-play-state: running;
                        // }

                        .marquee{
                            animation-play-state: paused;
                        }
                    }
                }
            }
        }

        .second_footer_section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vw;

            @media @750{
                flex-wrap: wrap;
                margin-bottom: 40px;
            }

            .left{

                @media @750{
                    width: 100%;
                    margin-bottom: 40px;
                }
                .single_info{
                    position: relative;
                    display: inline-block;

                    p, a{
                        .text();
                        .font2M();
                        display: inline-block;
                        text-transform: uppercase;
                    }

                    a{
                        display: block;
                    }

                    &:after{
                        content: '';
                        position: relative;
                        width: 1px;
                        height: 5vw;
                        display: inline-block;
                        background-color: @color1;
                        margin: 0 3vw;
                        transform: translateY(30%) skew(-20deg, 0deg);

                        @media @750{
                            height: 50px;
                            top: -7px;
                            margin: 0 10px;
                        }
                    }

                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                }
            }

            .right{

                @media @750{
                    width: 100%;
                }

                ul{
                    li{
                        margin-bottom: 0.2vw;
                        a{
                            .text();
                            .font2M();
                            display: inline-block;
                            text-transform: uppercase;
                            position: relative;
                            left: 0;
                            .transition();

                            &:before{
                                content: '//';
                                position: absolute;
                                left: -1vw;
                                .text();
                                .font2M();
                                opacity: 0;
                                visibility: hidden;
                                .transition();

                                @media @1100{
                                    left: -15px;
                                }
                            }
                        }

                        &:hover{
                            a{
                                left: 1vw;

                                @media @1100{
                                    left: 10px;
                                }

                                &:before{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }

                        &.current-menu-item{
                            a{
                                left: 1vw;
        
                                @media @1100{
                                    left: 10px;
                                }
            
                                &:before{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }

        .thrid_footer_section{
            margin-bottom: 5vw;

            .form_holder{
                width: 43vw;

                @media @1020{
                    width: 60vw;
                }
                
                @media @750{
                    width: 100%;
                }
                p{
                    .text();
                    color: #898989;
                    margin-top: 0.5vw;
                }

                form{
                    position: relative;

                    input{
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid @color1;
                        .text();
                        font-size: 1.1vw;
                        width: 100%;
                        padding: 0.5vw 0;
                        box-sizing: border-box;
                        color: @color1;

                        @media @1020{
                            font-size: 14px;
                        }

                        @media @750{
                            padding: 5px 0;
                        }
        

                        &::placeholder { /* Firefox 18- */
                            color: @color1;
                            font-size: 1.1vw;

                            @media @1020{
                                font-size: 14px;
                            }
                        }
                    }

                    .button_wrap{
                        display: flex;
                        position: absolute;
                        right: 0px;
                        top: 15px;

                        @media @1100{
                            top: 0.6vw;
                        }
                        

                        img{
                            margin-left: 1vw;
                            position: relative;
                            right: 0;
                            width: 3vw;
                            .transition();

                            @media @750{
                                width: 40px;
                                margin-left: 10px;
                            }
                        }

                        &:hover{
                            img{
                                right: -5px;
                            }
                        }
                    }

                    .wpcf7-submit{
                        width: auto;
                        display: inline-block;
                        padding: 0px;
                        color: @color1;
                        
                        .text();
                        .font2M();
                        text-transform: uppercase;
                        
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        align-items: center;
                    }
                }
            }
        }

        .copyright_wrap{
            display: flex;
            align-items: flex-end;
            justify-content: center;

            &.center{
                justify-content: space-between;

                @media @750{
                    justify-content: center;
                }
            }

            @media @750{
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 50px;
            }

            .certification{
                max-width: 11vw;

                @media @1020{
                    max-width: 150px;
                }

                @media @750{
                    width: 100%;
                    margin-bottom: 20px;
                }

                img{
                    width: 100%;

                    @media @750{
                        width: 150px;
                        margin: auto;
                    }
                }
            }

            .copyright{
                .text();
                color: #898989;
                margin-top: 0.5vw;
                text-align: center;

                @media @750{
                    width: 80%;
                }
            }
        }
    }
}

@-webkit-keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes reverseRotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}