@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendexa/v15/UMBCrPdOoHOnxExyjdBeQCH18mulUxBvI9qlTqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendexa/v15/UMBCrPdOoHOnxExyjdBeQCH18mulUxBvI9r7TqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendexa/v15/UMBCrPdOoHOnxExyjdBeQCH18mulUxBvI9ocSabH.ttf) format('truetype');
}
#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#scroll-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.font1B {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 700;
}
.font1R {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
}
.font1L {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 300;
}
.font2R {
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
}
.font2M {
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
}
.font2B {
  font-family: "usual";
  font-style: normal;
  font-weight: 700;
}
.image_reveal {
  position: relative;
}
.image_reveal:after {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 2000ms ease-in-out 0ms;
  transition: all 2000ms ease-in-out 0ms;
}
.image_reveal img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 2000ms ease-in-out 0ms;
  transition: all 2000ms ease-in-out 0ms;
}
.image_reveal.in_view img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.image_reveal.in_view:after {
  height: 0%;
}
.no_scroll {
  overflow: hidden;
}
#page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#page footer {
  margin-top: auto;
}
body {
  font-family: "usual";
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body * {
  font-weight: normal;
}
.text {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
}
.main_headline {
  color: #161616;
  font-size: 12vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 11.5px;
}
.big_headline {
  font-size: 6vw;
  color: #005941;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.medium_headline {
  color: #161616;
  font-size: 4vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.small_headline {
  color: #161616;
  font-size: 1.8vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.cropped_img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.loader {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loader .loader_content {
  text-align: center;
}
.loader .loader_content .loader_logo {
  width: 10vw;
  margin: auto;
}
.loader .loader_content .loader_logo img {
  width: 100%;
}
.loader .loader_content .description_holder {
  margin-top: 2.5vw;
  position: relative;
  overflow: hidden;
  min-height: 4vw;
  min-width: 50vw;
}
.loader .loader_content .description_holder .single_description {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.loader .loader_content .description_holder .single_description.second {
  opacity: 0;
}
.loader .loader_content .description_holder .single_description p {
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  color: #898989;
  font-size: 1.1vw;
  margin-bottom: 1vw;
}
.loader .loader_content .description_holder .single_description p span {
  color: #fff;
  font-family: "usual";
  font-style: normal;
  font-weight: 700;
}
.loader .loader_content .description_holder .single_description p.description {
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0vw;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1vw;
}
footer {
  padding: 0 11vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer .footer_content {
  border-top: 2px solid #161616;
  padding-top: 5vw;
  padding-bottom: 1.4vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer .footer_content .first_footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5vw;
}
footer .footer_content .first_footer_section .left h3 {
  color: #161616;
  font-size: 1.8vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1vw;
}
footer .footer_content .first_footer_section .left p {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 1.1vw;
}
footer .footer_content .first_footer_section .right .button_holder {
  position: relative;
  cursor: pointer;
}
footer .footer_content .first_footer_section .right .button_holder .marquee {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  -webkit-animation: rotation 10s infinite linear;
          animation: rotation 10s infinite linear;
}
footer .footer_content .first_footer_section .right .button_holder .arrow {
  width: 3.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
footer .footer_content .first_footer_section .right .button_holder a {
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
}
footer .footer_content .first_footer_section .right .button_holder:hover .marquee {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
footer .footer_content .second_footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5vw;
}
footer .footer_content .second_footer_section .left .single_info {
  position: relative;
  display: inline-block;
}
footer .footer_content .second_footer_section .left .single_info p,
footer .footer_content .second_footer_section .left .single_info a {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
}
footer .footer_content .second_footer_section .left .single_info a {
  display: block;
}
footer .footer_content .second_footer_section .left .single_info:after {
  content: '';
  position: relative;
  width: 2px;
  height: 5vw;
  display: inline-block;
  background-color: #161616;
  margin: 0 3vw;
  -webkit-transform: translateY(30%) skew(-20deg, 0deg);
          transform: translateY(30%) skew(-20deg, 0deg);
}
footer .footer_content .second_footer_section .left .single_info:last-child:after {
  display: none;
}
footer .footer_content .second_footer_section .right ul li {
  margin-bottom: 0.2vw;
}
footer .footer_content .second_footer_section .right ul li a {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  left: 0;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
footer .footer_content .second_footer_section .right ul li a:before {
  content: '//';
  position: absolute;
  left: -1vw;
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
footer .footer_content .second_footer_section .right ul li:hover a {
  left: 1vw;
}
footer .footer_content .second_footer_section .right ul li:hover a:before {
  opacity: 1;
  visibility: visible;
}
footer .footer_content .thrid_footer_section {
  margin-bottom: 5vw;
}
footer .footer_content .thrid_footer_section .form_holder {
  width: 43vw;
}
footer .footer_content .thrid_footer_section .form_holder p {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  color: #898989;
  margin-top: 0.5vw;
}
footer .footer_content .thrid_footer_section .form_holder form {
  position: relative;
}
footer .footer_content .thrid_footer_section .form_holder form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #161616;
  font-size: 0.9vw;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 1.1vw;
  width: 100%;
  padding: 0.5vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #161616;
}
footer .footer_content .thrid_footer_section .form_holder form input::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #161616;
  font-size: 1.1vw;
}
footer .footer_content .thrid_footer_section .form_holder form input:-ms-input-placeholder {
  /* Firefox 18- */
  color: #161616;
  font-size: 1.1vw;
}
footer .footer_content .thrid_footer_section .form_holder form input::-ms-input-placeholder {
  /* Firefox 18- */
  color: #161616;
  font-size: 1.1vw;
}
footer .footer_content .thrid_footer_section .form_holder form input::placeholder {
  /* Firefox 18- */
  color: #161616;
  font-size: 1.1vw;
}
footer .footer_content .thrid_footer_section .form_holder form button {
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_content .thrid_footer_section .form_holder form button img {
  margin-left: 10px;
  position: relative;
  right: 0;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
footer .footer_content .thrid_footer_section .form_holder form button:hover img {
  right: -5px;
}
footer .footer_content .copyright {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  color: #898989;
  margin-top: 0.5vw;
  text-align: center;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes reverseRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 2.2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .logo {
  width: 4.4vw;
  visibility: hidden;
  opacity: 0;
  position: relative;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
header .logo.visible {
  visibility: visible;
  opacity: 1;
}
header .logo.menuOpen {
  visibility: visible;
  opacity: 1;
}
header .logo.menuOpen img.white {
  opacity: 1;
  z-index: 2;
}
header .logo.menuOpen img.black {
  opacity: 0;
}
header .logo img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
header .logo img.white {
  opacity: 0;
  z-index: 2;
}
header .logo img.black {
  opacity: 1;
}
header .menu_opener {
  position: relative;
  cursor: pointer;
}
header .menu_opener img {
  width: 4.4vw;
  position: relative;
}
header .menu_opener p {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #dfcf00;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .menu_opener:hover img {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.nav_holder {
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  height: 0vh;
  visibility: hidden;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_holder nav ul li {
  margin-bottom: 0.2vw;
  text-align: center;
  position: relative;
  opacity: 0;
  top: 100px;
}
.nav_holder nav ul li a {
  font-size: 6vw;
  color: #005941;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  left: 0;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
.nav_holder nav ul li a:before {
  content: '//';
  position: absolute;
  left: -5vw;
  font-size: 6vw;
  color: #005941;
  font-family: 'Lexend Exa';
  font-weight: 400;
  text-transform: uppercase;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
.nav_holder nav ul li:hover a {
  left: 1vw;
}
.nav_holder nav ul li:hover a:before {
  opacity: 1;
  visibility: visible;
}
@-webkit-keyframes menuRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.template_home_holder .template_home_content {
  overflow: hidden;
  position: relative;
}
.template_home_holder .template_home_content .shape1,
.template_home_holder .template_home_content .shape2 {
  z-index: 2;
}
.template_home_holder .template_home_content .shape1,
.template_home_holder .template_home_content .glow1 {
  position: absolute;
  left: -23vw;
  top: -50vw;
  width: 75vw;
  opacity: 0;
}
.template_home_holder .template_home_content .glow1 {
  -webkit-animation: firstGlow 3s infinite linear;
          animation: firstGlow 3s infinite linear;
}
.template_home_holder .template_home_content .glow2 {
  -webkit-animation: secondGlow 3s infinite linear;
          animation: secondGlow 3s infinite linear;
}
.template_home_holder .template_home_content .shape2,
.template_home_holder .template_home_content .glow2 {
  position: absolute;
  right: -47vw;
  top: 30vw;
  width: 68vw;
  opacity: 0;
}
.template_home_holder .template_home_content .hero_content {
  position: relative;
  z-index: 2;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14.5vw 5vw 16vw 5vw;
  max-width: 80vw;
  margin: auto;
  opacity: 0;
  top: 40px;
}
.template_home_holder .template_home_content .hero_content h1 {
  color: #161616;
  font-size: 12vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 11.5px;
  margin-bottom: 4vw;
}
.template_home_holder .template_home_content .hero_content p {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.6px;
  max-width: 29vw;
  margin: auto;
  text-transform: uppercase;
}
.template_home_holder .template_home_content .first_section {
  margin-bottom: 9vw;
}
.template_home_holder .template_home_content .first_section .first_section_content {
  padding-left: 11vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 60vw;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box {
  margin-bottom: 6vw;
  border-bottom: 2px solid #161616;
  position: relative;
  top: 40px;
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box.in_view {
  top: 0;
  opacity: 1;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box h2 {
  color: #161616;
  font-size: 4vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2vw;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box p {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  max-width: 35.5vw;
  margin-bottom: 4vw;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box .button_holder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  bottom: 0;
  margin-bottom: 0.5vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box .button_holder a {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box .button_holder a img {
  margin-left: 10px;
  position: relative;
  right: 0;
  width: 2.3vw;
  -webkit-transition: all 400ms ease 0ms;
  transition: all 400ms ease 0ms;
}
.template_home_holder .template_home_content .first_section .first_section_content .single_box .button_holder a:hover img {
  right: -5px;
}
.template_home_holder .template_home_content .second_section {
  margin-bottom: 14vw;
}
.template_home_holder .template_home_content .second_section .second_section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.template_home_holder .template_home_content .second_section .second_section_content .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}
.template_home_holder .template_home_content .second_section .second_section_content .left .left_content {
  position: relative;
  top: 40px;
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  top: 6vw;
}
.template_home_holder .template_home_content .second_section .second_section_content .left .left_content.in_view {
  top: 0;
  opacity: 1;
}
.template_home_holder .template_home_content .second_section .second_section_content .left .left_content.in_view {
  top: 5vw;
}
.template_home_holder .template_home_content .second_section .second_section_content .left .left_content h2 {
  font-size: 6vw;
  color: #005941;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  right: -2.2vw;
  z-index: 1;
}
.template_home_holder .template_home_content .second_section .second_section_content .left .left_content p {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  max-width: 20vw;
  margin-left: auto;
  padding-right: 7.5vw;
  margin-top: 4vw;
}
.template_home_holder .template_home_content .second_section .second_section_content .right {
  width: 50%;
  position: relative;
}
.template_home_holder .template_home_content .second_section .second_section_content .right .white_lines {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 27vw;
}
.template_home_holder .template_home_content .second_section .second_section_content .right .image_holder {
  overflow: hidden;
  padding-top: 90%;
  position: relative;
}
.template_home_holder .template_home_content .second_section .second_section_content .right .image_holder:after {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 2000ms ease-in-out 0ms;
  transition: all 2000ms ease-in-out 0ms;
}
.template_home_holder .template_home_content .second_section .second_section_content .right .image_holder img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 2000ms ease-in-out 0ms;
  transition: all 2000ms ease-in-out 0ms;
}
.template_home_holder .template_home_content .second_section .second_section_content .right .image_holder.in_view img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.template_home_holder .template_home_content .second_section .second_section_content .right .image_holder.in_view:after {
  height: 0%;
}
.template_home_holder .template_home_content .second_section .second_section_content .right .image_holder img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.template_home_holder .template_home_content .third_section .third_section_content .headline_holder {
  text-align: center;
  position: relative;
  top: 40px;
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.template_home_holder .template_home_content .third_section .third_section_content .headline_holder.in_view {
  top: 0;
  opacity: 1;
}
.template_home_holder .template_home_content .third_section .third_section_content .headline_holder img {
  width: 4.5vw;
  margin-bottom: 1.1vw;
}
.template_home_holder .template_home_content .third_section .third_section_content .headline_holder h3 {
  color: #161616;
  font-size: 1.8vw;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 4vw;
  text-align: center;
}
.template_home_holder .template_home_content .third_section .third_section_content .three_box_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 40px;
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.template_home_holder .template_home_content .third_section .third_section_content .three_box_section.in_view {
  top: 0;
  opacity: 1;
}
.template_home_holder .template_home_content .third_section .third_section_content .three_box_section .single_box {
  width: 33.3333%;
}
.template_home_holder .template_home_content .third_section .third_section_content .three_box_section .single_box p {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  text-align: center;
  max-width: 24vw;
  margin: auto;
}
.template_home_holder .template_home_content .fourth_section {
  padding-top: 24vw;
  padding-bottom: 24vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.template_home_holder .template_home_content .fourth_section .shape3 {
  position: absolute;
  left: -47.5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 72vw;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content {
  max-width: 58vw;
  margin-left: auto;
  position: relative;
  top: 40px;
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content.in_view {
  top: 0;
  opacity: 1;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content h2 {
  font-size: 6vw;
  color: #005941;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 50vw;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .testemonials .single_testimonial .question {
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  margin-bottom: 3vw;
  margin-top: 2vw;
  text-transform: uppercase;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .testemonials .single_testimonial .answer {
  font-size: 0.9vw;
  color: #161616;
  font-family: "usual";
  line-height: 1.6em;
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  max-width: 35vw;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .pagingInfo {
  display: block;
  font-size: 0.9vw;
  color: #161616;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "usual";
  font-style: normal;
  font-weight: 600;
  margin-top: 0.6vw;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .new_arrows {
  margin-top: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .new_arrows .news__arrow {
  width: 4.6vw;
  cursor: pointer;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .new_arrows .news__arrow img {
  width: 100%;
}
.template_home_holder .template_home_content .fourth_section .fourth_section_content .new_arrows .news__arrow_dir_left {
  position: relative;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -2px;
  margin-right: 2vw;
}
@-webkit-keyframes firstGlow {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  50% {
    -webkit-transform: translate(0%, 20%);
            transform: translate(0%, 20%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@keyframes firstGlow {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  50% {
    -webkit-transform: translate(0%, 20%);
            transform: translate(0%, 20%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@-webkit-keyframes secondGlow {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  50% {
    -webkit-transform: translate(-20%, 0%);
            transform: translate(-20%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@keyframes secondGlow {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  50% {
    -webkit-transform: translate(-20%, 0%);
            transform: translate(-20%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
/*# sourceMappingURL=global.css.map */