.template_about {
  overflow: hidden;

  .shape1{
    position: absolute;
    top: -8.6%;
    right: 10vw;
    z-index: 4;
    width: 46vw;
  }

  .shape2{
    position: absolute;
    top: 8.6%;
    left: -31%;
    z-index: 4;
    width: 46vw;
  }

  .hero_content_inner {
    position: relative;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    padding: 20vw 5vw 20vw 5vw;
    max-width: 80vw;
    margin: auto;
    opacity: 1;
    top: 0px;

    h1 {
      .main_headline_small();
      margin-bottom: 4vw;
    }

    p {
      .text();
      text-align: center;
      .font2M();
      font-size: 0.8vw;
      text-transform: uppercase;

      a, span{
        display: inline-block
      }

      span{
        .text();
        .font2M();
        margin: 0 0.6vw;
      }
    }

    a {
      .text();
      .font2M();
      letter-spacing: 1.6px;
      max-width: 29vw;
      margin: auto;
      text-transform: uppercase;
      display: flex;
      justify-content: center;

      img{
        margin-left: 1vw;
        position: relative;
        right: 0px;
        .transition();
      }

      &:hover{
          img{
              right: -5px;
          }
      }
    }
  }

  .first_section {
    margin-bottom: 14vw;

    .first_section_content {
      .slide_up();

      .headline_holder {
        text-align: center;

        img {
          width: 4.5vw;
          margin-bottom: 1.1vw;
        }

        h3 {
          .medium_headline();
          margin-bottom: 1vw;
          text-align: center;
        }
      }

      .description_section {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        // max-width: 50vw;
        margin: auto;

        p {
          .text();
          text-align: center;
          margin: auto;
        }
      }
    }
  }

  .second_section {
    margin-bottom: 14vw;

    .second_section_content {
      .slide_up();
      .image_holder_wrap {
        box-sizing: border-box;
        padding-right: 11vw;
        position: relative;

        .image_holder {
          position: relative;
          overflow: hidden;
          padding-top: 51%;

          .background {
            .cropped_img();
          }

          .about_white_lines {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            width: 35vw;
          }
        }
      }
      .second_section_description_wrap{
        position: relative;

        .images_holder{
          position: absolute;
          right: 17vw;
          top: -3vw;
          display: flex;
          flex-direction: column;
          align-items: center;

          .image_holder{
            position: relative;
            overflow: hidden;
            width: 7vw;
            height: 7vw;
            border-radius: 100%;
            margin-bottom: 1vw;

            img{
              .cropped_img();
            }
          }

          .info_holder{
            background-color: #000;
            border-radius: 100%;
            width: 10vw;
            height: 10vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            p{
              .text();
              font-size: 0.85vw;
              color: #fff;

              a{
                color: #fff;
                display: inline-block;
                position: relative;
                cursor: pointer;
                .transition();

                &:after{
                  content: '';
                  height: 1px;
                  width: 100%;
                  background-color: #fff;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  .transition();
                }

                &:hover{
                  &:after{
                    width: 0%;
                  }
                }
              }
            }
          }
          
        }

        .second_section_description {
          padding-left: 11vw;
          max-width: 50vw;
          position: relative;
          top: -3vw;
  
          h2 {
            .big_headline();
            margin-bottom: 3vw;
          }
  
          h3 {
            .text();
            text-transform: uppercase;
            .font2M();
            letter-spacing: 1.6px;
            margin-bottom: 1vw;
          }
  
          p {
            .text();
          }
        }
      }
    }
  }

  .third_section {
    margin-bottom: 14vw;

    .third_section_content {
      display: flex;
      flex-wrap: wrap;
      .slide_up();

      .left {
        width: 45%;

        .image_holder {
          position: relative;
          padding-top: 122%;
          overflow: hidden;

          img {
            .cropped_img();
          }
        }
      }

      .right {
        width: 55%;

        .right_content {
          padding-top: 7vw;
          box-sizing: border-box;
        }

        h2 {
          position: relative;
          left: -5.6vw;
          .big_headline();
        }

        ul {
          margin-top: 5vw;
          max-width: 30vw;
          padding-left: 11vw;

          li {
            .text();
            .font1R();
            font-size: 1vw;
            border-top: 1px solid @color1;
            padding-top: 0.2vw;
            margin-bottom: 2vw;

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }

  .fourth_section{
      margin-bottom: 14vw;

      .fourth_section_content{
        text-align:center;
        .slide_up();

        img{    
            width: 4.5vw;
            margin-bottom: 1.1vw;
        }
            
        .description_section{
            margin: auto;
            max-width: 57vw;
            text-align:center;
            p{
                .small_headline();
            }
        }
      }
  }

    .fifth_section{
        margin-bottom: 10vw;
    
        .fifth_section_content{
            display: flex;
            padding: 0 11vw;
            box-sizing: border-box;
            .slide_up();

            .left{
                width: 25%;

                .image_holder{
                    position: relative;
                    padding-top: 100%;
                    overflow: hidden;

                    img{
                      .cropped_img();
                    }
                }
            }

            .right{
                width: 75%;
                .right_content{
                    padding-top: 2vw;
                    box-sizing: border-box;
                }

                h2{
                    .big_headline();
                    font-size: 5vw;
                    margin-bottom: 3vw;
                    position: relative;
                    left: -2vw;
                }

                h3{
                    .text();
                    text-transform: uppercase;
                    .font2M();
                    margin-bottom: 0.7vw;
                    padding-left: 5vw;
                }
                
                p{
                    padding-left: 5vw;
                    .text();
                }
            }

        }
    }
}
