.template_classes{
    position: relative;
    overflow: hidden;

    .shape1{
        position: absolute;
        width: 50vw;
        top: 20vw;
        left: -30%;
    }
    .hero_content_inner{
        position: relative;
        z-index: 2;
        text-align: center;
        box-sizing: border-box;
        padding: 14.5vw 5vw 16vw 5vw;
        max-width: 80vw;
        margin: auto;
        opacity: 1;
        top: 0px;
    
        h1{
            .main_headline_small();
            margin-bottom: 4vw;
        }
    
        a{
            .text();
            .font2M();
            letter-spacing: 1.6px;
            max-width: 29vw;
            margin: auto;
            text-transform: uppercase;
            display: flex;
            justify-content: center;

            img{
                margin-left: 1vw;
                position: relative;
                right: 0px;
                .transition();
            }

            &:hover{
                img{
                    right: -5px;
                }
            }
        }
    }

    .first_section{
        margin-bottom: 10vw;

       .first_section_content{
           display: flex;
           flex-wrap: wrap;
           .slide_up();

           .left{
               width: 55%;
               display: flex;
               justify-content: flex-end;
               flex-direction: column;

               .left_content{
                    padding-bottom: 9vw;
                    box-sizing: border-box;

                    h2{
                        // max-width: 40vw;
                        position: relative;
                        right: -7vw;
                        .medium_headline();
                        text-align: right;
                        font-size: 3vw;
                        z-index: 2;
                    }
                }
                
            }

           .right{
                width: 45%;
                position: relative;

                .white_lines{
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 2;
                    width: 20vw;
                }

                .image_holder{
                    position: relative;
                    padding-top: 109%;
                    overflow: hidden;

                    img{
                        .cropped_img();
                    }
                }
            }
       } 
    }

    .second_section{
        margin-bottom: 10vw;

        .second_section_content{
            padding: 0 11vw;
            box-sizing: border-box;
            .slide_up();

            .tools{
                .tools_wrap{
                    display: flex;
                    flex-wrap: wrap;

                    .single_tool{
                        width: 25%;
                        padding-right: 3vw;
                        box-sizing: border-box;

                        p{
                            .text();
                            .font1R();
                            text-align: left;
                            margin-bottom: 0px;
                            border-top: 1px solid @color1;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .third_section{
        margin-bottom: 16vw;

       .third_section_content{
            .slide_up();

           .image_holder{
               text-align: center;
               max-width: 5vw;
               margin: auto;
               margin-bottom: 2vw;

               img{
                    width: 100%;
               } 
           }

           .third_section_description{
                margin-bottom: 9vw;
                text-align: center;
                .text();
                text-transform: uppercase;
                .font2M();

                &.bottom{
                    margin-bottom: 5px;
                }
           }

           .regular_desc{
               text-align: center;
           }

            .classes_list{
                position: relative;

                &:before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 1px;
                    background-color: #000;
                    height: 130%;
                }
                .classes_list_content{
                    .single_class{
                        display: flex;
                        position: relative;
                        margin-bottom: 5vw;
                        
                        .left{
                            width: 50%;
                            padding-right: 5vw;
                            box-sizing: border-box;

                            h3{
                                .medium_headline();
                                text-align: right;

                                &:after{
                                    content: '';
                                    width: 3.5vw;
                                    height: 1px;
                                    position: absolute;
                                    left: 50%;
                                    top: 30%;
                                    transform: translate(-50%, -50%);
                                    background-color: @color1;
                                }
                            }
                            p{
                                .text();
                                .font2M();
                                text-transform: uppercase;
                                text-align: right;
                            }
                        }

                        .right{
                            width: 50%;
                            padding-left: 5vw;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;

                            ul{
                                li{
                                    list-style-type: disc;
                                    .text();
                                    max-width: 26vw;
                                    margin-bottom: 1vw;
                                }
                            }
                        }
                    }
                }
           }
       } 
    }

}
